body {
    background-color: #1F2A30;
    font-family: 'Rajdhani', sans-serif;
}

p {
    text-align: center;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #FF4655;
}

a{
    color: #ffffff;
}